
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body{
	// background: gray;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

.header-bg{
		width: 100%;
	height: 100vh !important;
	background: url(../img/oknablokowe.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;

}
.nav-container{
	padding: 0;
	z-index: 1
}
//nav
.navbar-color-bg{
  // height: 62px;
  mix-blend-mode: undefined;
  background-color: #ffffff;
  background-color:rgba(255,255,255,0.8);
}
//color button in mobile
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,1);
  border-color: rgba(0,0,0,0.4);
 }

 //button border
.navbar-toggler{
	border: 2px solid transparent;
}

//color text in white menu
.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}
.nav-item {
	text-align: center;
	// color: white;
    }
 .nav-link{
 	padding: 15px;
 	transition: 0.5s;
 	&:hover{
 		font-weight: bolder;
 		transition: 0.5s;
 	}
 	&:focus{
 		background-color: #6bc498;
 		transition: 0.5s;

 	}
 }


.navbar--logo{
	width: 117px;
}

.header-title--container{
	width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin:0;

}
.header-title--border{
	box-shadow: 2.4px 3.2px 4px #000000;
	padding: 19px;
	background: #9c9c9c33;
	 p{
	 	margin-top: 15px;
	 	font-size: 15px;
	 	line-height: 1;
	 	letter-spacing: 5px;
	 	color: #fff;
	 	text-align:center;

	 }
}
.header-title{
	color: #fff;
	text-align: center;
	font-size: 50px;
	 text-shadow: 2.4px 3.2px 4px #000000;
	 line-height: 0.8;
	 font-weight: 300;
	 letter-spacing: 2px;	 
}

//section with icon and article
.home-icon-container{
	text-align: center;
	// overflow: hidden;
}
.home-icon{
	width: 30%;
	transition: 1s;
	margin-top: 50px;
	transition: 1s ease;
	z-index: 2;
}
.home-icon:hover{
	transform: rotate(360deg) scale(1.2);
	// width:  100%;
}
.home-title{
	 color: #6bc498;
	 font-size: 31.5px;
	 font-weight: 300;
	 letter-spacing: 4px;
	 text-align: center;

}
.home-text-section{
	margin-top: 20px;
}
.home-paragraph{
	font-size: 13px;
  font-weight: 300;
  line-height: 1.31;
  text-align: justify;
  color: #010101;
  margin: 0;
}
.home-paragraph-learnMore{
	color: #6bc498;
	font-size: 13px;
	font-weight: 600;
	cursor: pointer;
	text-align: right;
	margin-top: 13px;

}
.home-paragraph-learnMore--toggle{
	display: none;
	font-size: 13px;
  font-weight: 300;
  line-height: 1.31;
  text-align: justify;
    color: #010101;
}

// FIXED PHOTO
.photoBG{
	background: url(../img/IMG_0339.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 10%;
}
.photo-number{
	text-align: center;
 	color: #6bc498;
}
.photo--title{
	font-size: 66.5px;
  font-weight: 800;
  text-shadow: 1.2px 1.6px 0 #000000;
  margin: 0;
}
.photo-title-small{
	font-size: 15.5px;
  font-weight: 800;
  text-shadow: 1.2px 1.6px 0 #000000;
  margin: 0 0 20px 0;
}
//end fixed photo

.newsletter{
	margin-top: 25px;
}
.newsletter--title{
	color: #6bc498;
	font-size: 31.5px;
	font-weight: 300;
	letter-spacing: 4px;
	text-align: center;
	margin-bottom: 10px;

}
.newsletter-border{
	 border: solid 2px #6bc498;
	 border-radius: 10px;
	 padding: 5%;
	 width: 100%;
	 text-align: center;
}
.col-md-4:nth-of-type(2) .newsletter-border{
	margin: 15px 0;
}

.footerBG{
	background-color: #6bc498;
	margin-top: 20px;
}

.footer_maps{
	padding-top: 40px;
}

.contact_Icon{
	margin-top: 20px;
	padding-bottom: 20px;
	p{
		color: #fff;
		font-size: 12px;
  		font-weight: 300;
  		margin-top: 10px;
  		margin-bottom: 0;
  		transition: 0.5s;
	}
}
.mobile--container{

}
.mobile--container:hover{
	.contact_Icon--fontawesome{
		font-size: 35px;
		transition: 0.5s;
	}
	 	p{
 		font-weight: bolder;
 		font-size: 13px;
 		transition: 0.5s;
 	}
}
.mobile--container:active{
	.contact_Icon--fontawesome{
		color: #0d593b;
	}
	 	p{
 		font-weight: bolder;
 		font-size: 13px;
 		transition: 0.5s;
 	}
}

.contact_Icon--fontawesome{
	color: white;
	font-size: 30px;
	margin-top: 22px;
	transition: 0.5s;
}
 .mobile_contact{
	&:hover{
 			text-decoration:none;
 		}

 }
 .bottom_menu{
 	background: #2c9862;
 	border-top: 5px solid white;
 	padding: 0;
 	.col{
 		padding: 0;
 	}
 	ul{
 		padding: 0;
 		margin: 0;
 	}
 }

.bottom_menu--list{
	list-style: none;
	width: 100%;
	text-align: center;
	width: 100%;
	a{
		text-decoration: none;
		color: white;
		display: block;
		width: 100%;
		padding: 5%;
		font-size: 12px;
		transition: 0.5s;
		&:hover{
			background: #6bc498;
			transition: 0.5s;
			font-size: 15px;
			font-weight: bolder;
		}

	}
}

 .author{
 	background: black;
 	padding: 4%;
 	color: white;
 	text-align: center;
 	font-size: 10px;
 }

.newsletter_slide-photo{
	display: none;
}

  @media (min-width: 576px) {

.home-text-section{

	margin-top: 50px;
}
.home-title{
	 text-align: left;
	 margin-bottom: 5px;
}
.home-icon{
	  width: 133px;
  height: 133px;
	margin-top: 50px;
}

}//media

@media (min-width: 768px) {
//white belt i header	
.row.header-title--container {
	width: 50vw;
}
//section with scale and rotate elments
.home-container--one-element{
	margin-top: 67px;
}
.home-icon{
	margin:0;
	 	width: 160px;
 	height: 160px;
}
.home-text-section {
	 margin-top: 0;
}
.photoBG{
	margin-top: 150px;
	 height: 234px;
	 display: flex;
	 justify-content: center;
	 align-items: center;
	 background-position: 50% 50%;
}
//display number in fixed photos
.photoBG--wrapper{
	display: flex;
	justify-content: space-between;
	padding: 0 96px 0 96px;
}
.newsletter{
	margin-top: 64px;
	margin-bottom: 90px;
}
.newsletter--title{
	margin-bottom: 22px;
}
.col-md-4:nth-of-type(2) .newsletter-border{
	margin: 0 0;
}
.newsletter-border--container{
	display: flex;
}

//botom menu
.bottm_menu--container{
	display: flex;

}
.author {

    background: black;
    padding: 0.4%;
    }

}

@media (min-width: 992px) { 

.navbar-nav	{
	width: 15%;
}
.nav-item {
    text-align: center;
    width: 50%;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
}
 .nav-link{
 	padding: 10px;
 	transition: 1s;
 	color: gold;
 	text-align: center !important;
 	&:hover{
 		font-weight: bolder;
 		font-size: 18px;
 		
 		transition: 0.5s;
 		color: red;
 	}
 	&:focus{
 		background-color: inherit;
 		color: #6bc498 !important;
 		transition: 0.5s;
 	}
 }
.navbar-color-bg {
    padding: 1.5vh 5vw;
}

//fixed photo section
.photoBG--wrapper {
    padding: 0px 180px 0 180px;
}
.newsletter{
	margin-bottom: -55px;
}
.newsletter-border--container {
    display: block;

}
.newsletter_slide-container {
	 z-index: -2;
}
.newsletter_slide-photo{
		height: 411px;
 		display: block;
	}

.col-md-4:nth-of-type(2) .newsletter-border{
	margin: 40px 0;
}
 }


// Extra small (xs) devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
// Small (sm) devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }
// Medium (md) devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }
// Large (lg) devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }
// Extra (xl) large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
